extends ../shared/template

block content
  h2 About
  .about
    p How to use this site
      ol
        li Add items to your inventory
        li View items in your inventory
        li Click an item's name to view it or delete it

