extends ../shared/template

block content
  h1 Inventory Manager
  .faq
    p
      The FAQ goes here. What kind of questions would anyone ask about this site? 
      |Who knows? Not me. Much less frequent questions. Oh well.
