doctype html
html
  head
    meta(charset = 'utf-8')
    title Commerce
  body
    nav
      ul
        li: a(href="/") Home
        li: a(href="/faq") FAQ
        li: a(href="/about") About
        li: a(href='/items/new') Add Item
    h1 This is home
